h1 {
    color:white;
    font-family: 'Playfair Display', serif;
}
.logo{
    display: flex;

}
.li{
    display: flex;
    color:white;

}
body{
    background-color: blue;
}
.button{
    color:green;
    border-radius:solid;
}
.device{
    display: flex;

}
.topgames{
    color:white,yellow;
}
.MostPopularGames{
display: flex;
}
.by{
    display: flex;
   
}